body {
  max-width: 100vw;
  display: flex;
}

.App {
  width: 98vw;
  min-height: 98vh;
  background: #ffffeb;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carouselContainer {
  max-width: 90vw;
  border: solid;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.HPComponenet {
  background-color: #ffffd6;
}
