.App {
  background-color: #f9dfbf;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hide {
  opacity: 0%;
}

.show {
  opacity: 100%;
}
